@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: white;
}

.titulo {
    width: 100%;
    background-color: #180f42;
    text-align: center;
    padding: 30px;
    color: white;
    z-index: 3;
}

.botao-menu {
    background-color: transparent;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 5;
    border: none;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    transition: all 0.5s cubic-bezier(.21,.52,.52,.92);
}

.botao-menu.ativo {
    left: 230px;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #180f42;
    z-index: 4;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.5s cubic-bezier(.21,.52,.52,.92);
}

.menu-lateral.ativo{
    left: 0;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.menu-lateral ul li {
    padding: 15px 30px;
    
}

.menu-lateral ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-lateral ul li a i {
    font-size: 24px;
}


.conteudo {
   margin-left: 80px; 
}

